<div class="card" style="width: 18rem; height: 520px">
  <img src="<%= `${noticias.image}` %>" class="card-img-top" style="height: 200px;">
  <div class="card-body">
    <h5 class="card-title">
      <%= noticias.title %>
    </h5>
    <p class="card-text">
      <%= noticias.description %>
    </p>
    <div class="row justify-content-center">
      <a href="<%= noticias.link %>" class="btn btn-primary btn-block" style="border-radius: 5px;">Ler mais</a>
    </div>
  </div>
</div>