<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    
    <div class="container">
      <div class="row justify-content-center">
        <% project.forEach((project) => { %>
          <%- include('project_card', { project: project }); -%>
        <% }); %>
      </div>
    </div>

  </body>
</html>
