<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Novo Project</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <form action="create" method="POST">
              <div class="form-group">
                <label for="projectTitle">Título</label>
                <input name="title" type="text" class="form-control" id="projectTitle" placeholder="Título do project">
              </div>
              <div class="form-group">
                <label for="projectImage">Imagem</label>
                <input name="image" type="text" class="form-control" id="projectImage" placeholder="Imagem do project">
              </div>
              <div class="form-group">
                <label for="projectDescription">Descrição</label>
                <textarea name="description" type="text" class="form-control" id="projectDescription" placeholder=""></textarea>
              </div>

              <div class="form-group">
                <label for="projectBody">Corpo do Project</label>
                <textarea name="projectBody" type="text" class="form-control" id="projectBody" placeholder=""></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
      </div>
        
    </div>
  </div>
</body>
</html>